.hintBody {
  width: 100%;
  color:#ff4c58;
  line-height: 20px;
  font-size: 16px;
  padding-top: 10px;
}

.hintBody span {
  font-weight: bold;
  color: #333;
}

.buttonWrapper {
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.buttonWrapperText {
  flex: 1 0 auto;
  margin-left: 20px; 
}

.inProgressButton {
  background-color: rgb(103, 58, 183);
  color: #fff;
  transition: box-shadow 280ms cubic-bezier(0.4,0.0,0.2,1);
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -webkit-transition: background .2s .1s;
  transition: background .2s .1s;
  border: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .25px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  min-width: auto;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  z-index: 0;
}

.inProgressButton:hover {
  background-color: #9143b7;
}
